// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference


// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/edx/paragon/blob/master/scss/core/ for reference

// Color system
$white:    #FFFFFF !default;
$gray-100: #EBEBEB !default;
$gray-200: #CCCCCC !default;
$gray-300: #ADADAD !default;
$gray-400: #8F8F8F !default;
$gray-500: #707070 !default;
$gray-600: #5C5C5C !default;
$gray-700: #454545 !default;
$gray-800: #333333 !default;
$gray-900: #212529 !default;
$black:    #000000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue: #23419F !default;
$red: #C32D3A !default;
$yellow: #FFD900 !default;
$green: #178253 !default;
$teal: #006DAA !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue": $blue,
    "green": $green,
    "teal": $teal,
    "red": $red,
    "yellow": $yellow,
    "white": $white,
    "gray": $gray-500,
    "dark-gray": $gray-700,
  ),
  $colors
);

$primary: #772432 !default;
$secondary: $gray-700 !default;
$brand: $teal !default;
$success: $green !default;
$info: $teal !default;
$danger: $red !default;
$warning: $yellow !default;
$light: #E1DDDB !default;
$dark: #273F2F !default;
$accent-a: #00BBF9 !default;
$accent-b: #FFEE88 !default;
$link-color: $primary !default;
